In [3]:
def write_to_csv(filename, data):
    with open(filename, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerows(data)

data = [['Name', 'Age', 'Gender'],
        ['John', '23', 'Male'],
        ['Jane', '25', 'Female']]
write_to_csv('cleaned_data.csv', data)

In [3]:
import pandas as pd

In [4]:
#replace null with one value
dsn=pd.read_csv("C:\\Users\\bhargavi\\python\\data_cleaning.csv")
dsn["Calories"].fillna(130,inplace=True)
pd.isnull(dsn).sum()

Duration    0
Date        0
Pulse       3
MaxPulse    3
Calories    0
dtype: int64

In [5]:
#replace null with mean
dsn["MaxPulse"].fillna(dsn["MaxPulse"].mean(),inplace=True)
pd.isnull(dsn).sum()

Duration    0
Date        0
Pulse       3
MaxPulse    0
Calories    0
dtype: int64

In [6]:
#replace unusual value with mean
import numpy as np
for x in dsn.index:
    #if dsn.loc[x,"Duration"] > 60:
        dsn.loc[x,"Duration"]=dsn.Duration.replace(450,100).mean()
dsn.head(10)

    Duration          Date  Pulse    MaxPulse  Calories
0  57.500000  '2020/12/01'  110.0  130.000000     409.1
1  57.421875  '2020/12/02'  117.0  145.000000     479.0
2  57.341309  '2020/12/03'  103.0  135.000000     340.0
3  57.258224  '2020/12/04'  109.0  175.000000     282.4
4  57.641294  '2020/12/05'  117.0  148.000000     406.0
5  58.036334  '2020/12/06'  102.0  127.000000     300.0
6  57.974970  '2020/12/07'  110.0  136.000000     374.0
7  57.911688  '2020/12/08'  104.0  134.000000     253.3
8  56.596428  '2020/12/09'  109.0  133.000000     195.1
9  57.427566  '2020/12/10'   98.0  129.068966     269.0

In [8]:
#converting to date time format
dsn['Date']=pd.to_datetime(dsn['Date'])
dsn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     float64
 1   Date      32 non-null     datetime64[ns]
 2   Pulse     29 non-null     float64
 3   MaxPulse  32 non-null     float64
 4   Calories  32 non-null     float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 1.4 KB

In [9]:
#drop duplicates
print(dsn.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

### assignment
### typecasting problems converting datatypes to diff datatypes

### take 2 dates get its difference in days,months and year

In [1]:
x=y=5,10
res= x==y
print(res)

True

In [2]:
x=y=5,10
print(x,y)

(5, 10) (5, 10)

In [3]:
res= x==y

In [4]:
print(res)

True

In [6]:
from datetime import datetime

date1 = datetime(2021, 1, 1)
date2 = datetime(2023, 2, 1)

difference = date2 - date1

# Difference in days
print("Difference in days:", difference.days)

# Difference in years
years = difference.days / 365.25
print("Difference in years (approximate):", years)

#Difference in months 
years=difference.days / 30.44
print("Difference in months(approximate):",months)


# Difference in seconds
print("Difference in seconds:", difference.total_seconds())

# Difference in hours
print("Difference in hours:", difference.total_seconds() / 3600)

# Difference in minutes
print("Difference in minutes:", difference.total_seconds() / 60)

Difference in days: 761
Difference in years (approximate): 2.083504449007529
Difference in months(approximate): 25.0
Difference in seconds: 65750400.0
Difference in hours: 18264.0
Difference in minutes: 1095840.0

In [5]:
#
from datetime import datetime, timedelta

date1 = datetime.strptime("2021-01-01", "%Y-%m-%d")
date2 = datetime.strptime("2023-02-01", "%Y-%m-%d")

difference = date2 - date1

# Difference in days
print("Difference in days:", difference.days)

# Difference in months (approximate)
months = difference.days / 30.44
print("Difference in months (approximate):",months)

# Difference in years (approximate)
years = difference.days / 365.24
print("Difference in years (approximate):", years)

Difference in days: 761
Difference in months (approximate): 25.0
Difference in years (approximate): 2.083561493812288

In [7]:
#my data
from datetime import datetime, timedelta

date1 = datetime.strptime("2004-03-15", "%Y-%m-%d")
date2 = datetime.strptime("2023-02-24", "%Y-%m-%d")

difference = date2 - date1

# Difference in days
print("Difference in days:", difference.days)

# Difference in months (approximate)
months = difference.days / 30.44
print("Difference in months (approximate):",months)

# Difference in years (approximate)
years = difference.days / 365.24
print("Difference in years (approximate):", years)

Difference in days: 6920
Difference in months (approximate): 227.33245729303547
Difference in years (approximate): 18.946446172379805

In [1]:
from datetime import datetime, timedelta

date1 = datetime.strptime("2004-03-15", "%Y-%m-%d")
date2 = datetime.strptime("2023-04-07", "%Y-%m-%d")

difference = date2 - date1

# Difference in days
print("Difference in days:", difference.days)

# Difference in months (approximate)
months = difference.days / 30.44
print("Difference in months (approximate):",months)

# Difference in years (approximate)
years = difference.days / 365.24
print("Difference in years (approximate):", years)

Difference in days: 6962
Difference in months (approximate): 228.71222076215506
Difference in years (approximate): 19.06143905377286

### 19 completed 20 running